@font-face {
	font-family: 'ABC Marist';
	src: url('/fonts/ABCMarist-Book-Trial.woff') format('woff');
	font-weight: 350;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ABC Marist';
	src: url('/fonts/ABCMarist-BookItalic-Trial.woff') format('woff');
	font-weight: 350;
	font-display: swap;
	font-style: italic;
}

@theme {
	--font-serif: 'ABC Marist', 'Times New Roman', sans-serif;
	--font-sans: 'Arial', sans-serif;

	--text-*: initial;

	--text-s: 1.4rem;
	--text-s--line-height: 1.6rem;
	--text-base: 1.6rem;
	--text-base--line-height: 1.8rem;

	--color-*: initial;
	--color-white: #fff;
	--color-green: #057953;

	--spacing: 0.8rem;
	--spacing-base: 2rem;
}
