/* layout */

@utility grid-12 {
	@apply grid grid-cols-12 gap-base;
}

@utility grid-8 {
	@apply grid grid-cols-8 gap-base;
}

@utility grid-6 {
	@apply grid grid-cols-6 gap-base;
}

@utility grid-5 {
	@apply grid grid-cols-5 gap-base;
}

@utility grid-4 {
	@apply grid grid-cols-4 gap-base;
}

@utility grid-3 {
	@apply grid grid-cols-3 gap-base;
}

@utility grid-2 {
	@apply grid grid-cols-2 gap-base;
}

/* typography */

@utility typo-base {
	@apply text-base;
}