/* layout */

@utility grid-12 {
	@apply grid grid-cols-12;
}

@utility grid-10 {
	@apply grid grid-cols-8;
}

@utility grid-8 {
	@apply grid grid-cols-8;
}

@utility grid-6 {
	@apply grid grid-cols-6;
}

@utility grid-5 {
	@apply grid grid-cols-5;
}

@utility grid-4 {
	@apply grid grid-cols-4;
}

@utility grid-3 {
	@apply grid grid-cols-3;
}

@utility grid-2 {
	@apply grid grid-cols-2;
}

/* typography */

@utility typo-base {
	@apply text-base;
}

@utility typo-s {
	@apply text-s;
}

@utility small-caps {
	@apply [font-variant:small-caps] lowercase;
}
